/* Base Styles */


:root {
    --font-size: 10px;
    --offwhite: #fbfafa;
    --font-family: "Open Sans", Arial, sans-serif;  
        
}                             /* Used to style specified Content */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    
}


.img {
   display: block;
                
}                         /* set Img to display block */


.profile-image {
    border: 10px , solid #47887d;
    border-radius: 50%;
    overflow: hidden;  
    width: 300px;
    height: 300px;   
    object-fit: cover;
    float: left;    
    margin: 10px 10px;
    padding: 20px 20px;
              
    
}                         /* Added a Border around Profile image, float is used for the text to position next to the img*/



.container {
    width: 60%;
    margin: 30px auto; 
                        
}                         /* The container is where our flexbox or grid will be situated in */



.profile { 
     display: contents;
     padding-bottom: 20px;
                     
                             
}                       /* This is The Div that our contents will be in */

.profile::after { 
    content: "";
    display: block;
    clear: both;
    
}



.profile-user-settings {
    display: flex;
    align-items: baseline;
    flex-direction:row ;
    margin-bottom: 50px;
    margin-top: 30px; 
    margin-right: 25%;   
                                           
}                        /* Used Flexbox to align Profile User settings with the username at the top of the page*/

.btn-profile-edit-btn {
    border: 1px solid #7e7d7d;
    cursor: pointer;
    background-color: #fafafa;
    transition: 0.4s ease-in-out;
    
    
                                   
}                               /* Added a small transition to make button more noticeable */

.btn-profile-edit-btn:hover {
    background-color: #bbbfbe;
}                                  /* Backround Colour for the button */ 

.btn-profile-settings-btn {
     border: none;  
     cursor: pointer;
     float: left 5px;
     background-color: #fafafa;
     transition: 0.4s ease-in-out;
     
}

.btn-profile-settings-btn:hover {
    background-color: #bbbfbe;
}


.profile-user-name {
    font-family: "Open sans", Arial, sans-serif;
    font-weight: lighter ;  
    margin-right: 15px;
    margin-top: 50px;
    
                          
}                          /* Basic Font used for Username */ 

.profile-stats { 
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    margin-right: 14%;
    gap: 15px;
                             
}                            /*Used Flexbox to align stats in a straight line, Margin used to create wide spaces between items*/

.profile-stat-count {
    text-align: center;
    

}

.profile-bio {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 50px;  
    margin-right: 10%;
    
   
}

.profile-real-name {
    font-weight: bold;
}

/* End of Top Section*/

 
/* New Section*/

.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 5px;
    max-width: 1200px;  
    min-width: 375px; 
                           
}                          /* Set Div to Grid to create the grid layout inside main container */

.gallery-item {
        background: none;
        overflow: hidden;
        text-align: center;       
        padding: 10px; 
        height: auto; 
        width: auto;
        position: relative;
        overflow: hidden;
       
}     /* This Div is used for seperating content within the grid layout*/



.gallery-item-type {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; 
    margin-left: 90%;
    margin-top: 5%;
    color: rgb(243, 247, 251);
    

     
}                               /*Flexbox was used to move position the contents in this divo */

.gallery-item-type img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: .5s ease; 
    
    
    
}                              /* Opacity and transition was added to create the hover effect of the img */

.gallery-item:hover .gallery-item-type {
    filter: brightness(80%);
    
    
  }                            /* Hover selector was applied to create the hover effect over the img */

 


.gallery-image {
   display: block;
   width: 100%;
   height: 100%;
   object-fit:cover;
   transition: .5s ease; 
   
    
}

 
.gallery-item:hover .gallery-image {
    filter: brightness(80%);
  }
  

 .gallery-item-info {       
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}                                           /* Flexbox was used as well as opacity and transition to centre the text in the img while also having the hover effect */



.gallery-item:hover .gallery-item-info {
    opacity: 0.9;
       
          
}


.gallery-item-likes, .gallery-item-comments {
      color: #fbf6f6;
      margin-right: 15px;
      margin-left: 15px;
      filter: brightness(100%);
      font-weight: bolder;
      
      
}                                         /* Colour and margin added to change the look of the text */




.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #7e7d7d;
    border-top-color: transparent;
    background-color: #fcf9f9;
    animation: spin 1s ease-in-out infinite;  
    margin-left: 48%;
    transform-origin: 50% 50%;
   
}                                /* Animations and keyframes were used to create a circular rotation movement in order to make a buffering circle that shows the page is loading */

@keyframes spin {

    0% {
       transform:rotate(0deg) ; }

    100% {
         transform:rotate(360deg) ; }
  }



        @media (min-width: 375px) and (max-width: 767px) {
        body {
        background-color: lightgreen;
        }
    }
     
    

    

 
/* Required to create responsive designs for most screens */







/* End  of bottom Section */ 



    





