/* Base Styles */


:root {
    --font-size: 10px;
    --offwhite: #fbfafa;
    --font-family: "Open Sans", Arial, sans-serif;
        
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
    
}


.img {
   display: block;
  
   
}


.profile-image {
    border: 10px , solid #47887d;
    border-radius: 50%;
    overflow: hidden;  
    width: 300px;
    height: 300px;   
    object-fit: cover;
    float: left;
    
}



.container {
    width: 60%;
    margin: 30px auto; 
   
}



.profile { 
    display: contents;
     padding-bottom: 20px;
     flex: 1;
    
    
}

.profile::after { 
    content: "";
    display: block;
    clear: both;
    
}



.profile-user-settings {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: left;

   
}

.btn-profile-edit-btn {
    border: 1px solid #7e7d7d;
    cursor: pointer;
    background-color: #fafafa;
    transition: 0.4s ease-in-out;
       
}

.btn-profile-edit-btn:hover {
    background-color: #bbbfbe;
}

.btn-profile-settings-btn {
     border: none;  
     cursor: pointer;
     float: left 5px;
     background-color: #fafafa;
     transition: 0.4s ease-in-out;
}

.btn-profile-settings-btn:hover {
    background-color: #bbbfbe;
}


.profile-user-name {
    font-family: "Open sans", Arial, sans-serif;
    font-weight: lighter ;  
    margin-right: 15px;
    margin-top: 50px;
    
    
    
}

.profile-stats { 
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    margin:auto;
    gap: 15px;
    
    
}

.profile-stat-count {
    text-align: center;
    

}

.profile-bio {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    gap: 15px;
    margin-top: 50px;   
}

.profile-real-name {
    font-weight: bold;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 5px;
    max-width: 1200px;   

}

.gallery-item {
        background: none;
        overflow: hidden;
        text-align: center;       
        padding: 10px; 
        height: auto; 
        width: auto;
        position: relative;
        overflow: hidden;
       
}


.gallery-item-type {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; 
    margin-left: 90%;
    margin-top: 5%;
     
}

.gallery-item-type img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: .5s ease; 
    opacity: 1; 
    
}

.gallery-item:hover .gallery-item-type {
    opacity: 0.4;
  }



.gallery-image {
   display: block;
   width: 100%;
   height: 100%;
   object-fit:cover;
   transition: .5s ease; 
   opacity: 1; 

}

 
.gallery-item:hover .gallery-image {
    opacity: 0.4;
  }
  

 .gallery-item-info {       
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
          
}


.gallery-item-likes, .gallery-item-comments {
      color: #fbf6f6;
      margin-right: 15px;
      margin-left: 15px;
      
}




.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px, dashed #7e7d7d;
    border-color: #636161;
    color: #7e7d7d;
    border-spacing: 5px;
    animation: spin 2s ease-in-out infinite ;  
    margin-left: 48%;
   
}

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
  }



@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape)



    





